[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aerich = "*"
asyncpg = ">=0.29.0"
celery = "*"
google-auth = "*"
httpx = "*"
jwcrypto = "*"
passlib = "*"
pillow = "*"
pyjwt = "*"
pydantic = "*"
python-decouple = "*"
python-jose = "*"
python-multipart = "*"
redis = "*"
requests = "*"
tortoise-orm = "*"
uvicorn = { extras = ["standard"], version = "*" }
openai = "*"
fastapi = "*"
pytest = "*"
pytest-asyncio = "*"
minio = "*"
aiofiles = "*"

[dev-packages]
Faker = "*"
autoflake = "*"
black = "*"
factory-boy = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-eradicate = "*"
flake8-pie = "*"
isort = "*"
openai = "*"
psutil = "*"
pyflakes = "*"
pytest = "*"
tomlkit = "*"

[requires]
python_version = "3.12"
