[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aerich = "*"
asyncpg = "*"
celery = "*"
fastapi = { extras = ["all"], version = "*" }
google-auth = "*"
httpx = "*"
jwcrypto = "*"
passlib = "*"
pillow = "*"
pyjwt = "*"
pydantic = { extras = ["email"], version = "*" }
python-decouple = "*"
python-jose = "*"
python-multipart = "*"
redis = "*"
requests = "*"
tortoise-orm = "*"
uvicorn = { extras = ["standard"], version = "*" }

[dev-packages]
Faker = "*"
autoflake = "*"
black = "*"
factory-boy = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-eradicate = "*"
flake8-pie = "*"
isort = "*"
openai = "*"
psutil = "*"
pyflakes = "*"
pytest = "*"
pytest-benchmark = "*"
pytest-cov = "*"
pytest-factoryboy = "*"
pytest-pretty = "*"
pytest-xdist = "*"
tomlkit = "*"

[requires]
python_version = "3.12"
